/* .flexstart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
} */

.start {
  display: none;
}
.overlays {
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  z-index: 10;
}

.clear {
    display: none;
    position: relative;
  }

.show {
  margin: auto;
  background-color: purple;
  position: relative;
  z-index: 10;
  top: 20rem;
  width: 20rem;
  text-align: center;
}

.logo {
  right: 0;
  box-sizing: border-box;
  position: absolute;
  border: 1px dashed rgba(27, 133, 219, 0.418);
  max-width: calc(50% - 1.5rem);
  margin: 0rem;
  width: 15rem;
  background-color: rgba(27, 56, 219, 0.36);
  text-align: center;
  color: white;
  padding: 1rem;
}

  .title {
    box-sizing: border-box;
    position: absolute;
    align-self: flex-end;
    border: 1px dashed rgba(27, 133, 219, 0.651);
    margin-top: -6rem;
    width: 35rem;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    background: #00000071;
  }

  .impressionOne {
    align-self: center;
    box-sizing: border-box;
    position: absolute;
    border: 1px dashed rgba(27, 219, 161, 0.699);
    max-width: calc(50% - 1.5rem);
    margin: 0rem;
    width: 20rem;
    font-size: 1.3rem;
    background-color: rgba(27, 219, 107, 0.637);
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 1rem;
  }

  .impressionTwo {
    background-color: #d332d3e1;
    border: 1px dashed rgba(219, 216, 27, 0.418);
    width: 20rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
    align-self: center;
    box-sizing: border-box;
    position: absolute;
  }

  .impressionThree {
    align-self: center;
    box-sizing: border-box;
    position: absolute;
    border: 1px dashed rgba(27, 219, 161, 0.418);
    max-width: calc(50% - 1.5rem);
    margin: 0rem;
    padding: 0.5rem;
    width: 15rem;
    background-color: rgba(0, 0, 255, 0.795);
    width: 20rem;
    text-align: center;
  }

  .fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
  }@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }